:root {
	--linkColor: #343434;
}
/* RESETS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	outline: none;
}
body {
	background: #F1F2F6;
	font-family: 'Muli', sans-serif;
	color: var(--linkColor);
	font-size: 14px;
	line-height: 1.42;
	font-weight: 400;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Josefin Sans', sans-serif;
}
a {
	color: var(--linkColor);
}

/* HEADER */
.header-nav {
	width: 100%;
	height: 80px;
	background: #FFF;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05), 0 4px 8px 0 rgba(0, 0, 0, .05);
}

.nav-menu {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}
.nav-logo {
	flex: 0 1 50%;
	margin-left: 50px;
}
.nav-logo a {
	color: #fff;
	font-size: 1.5em;
	font-weight: 500;
	background: linear-gradient(45deg, #EA5F67 25%, #FDB46B 60%);
    background-clip: border-box;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.nav-item {
	display: flex;
	flex: 0 1 50%;
}
@media (max-width: 600px) {

	.header-nav {
		height: 150px;
	}
	.nav-menu,
	.nav-item {
		flex-direction: column;
	}
	.nav-item {
		align-items: center;
		width: 100%;
	}
}
.nav-item li {	
	margin: .09em;
}
.nav-item li a {
	padding: 5px;
}
.nav-item li:nth-child(3) a {
	color: #EA5F67;
}
.nav-item li:last-of-type a {
	color: #FDB46B;
}
.nav-item li::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #FDB46B;
    transition: width .3s;
}
.nav-item li:hover::after {
	width: 95%;
}
.nav-item li:last-of-type::after {
	width: 95%;
}
.nav-item li:last-of-type:hover::after {
	width: 0%;
}
.container {
	max-width: 960px;
	margin: 0 auto;
}

/* PRODUCT LIST */
.details {
	margin-top: 50px;
	box-shadow: 0 0 25px rgba(0,0,0,.05);
}

.details > h4 {
	margin-bottom: 15px;
	padding: 15px 0 0 10px;
	text-transform: uppercase;
	font-weight: 300;
	color: #EA5F67;
}

.product-details {
	display: flex;
	flex-wrap: wrap;
	margin: 10px;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, .05);
}

.product-image-details {margin-right: 5px;}

.product-image-details figure {
	position: relative;
}

.product-image-details figure figcaption {
	position: absolute;
	top: 200px;
	left: 10px;
	opacity: 0;
	transition: opacity .3s ease;
}
.product-image-details figure:hover figcaption {
	opacity: 1;
}

.product-image-details figure figcaption a {
	color: #FFF;
	text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.55);
	font-size: 2.2em;
}

.product-image-details img {
	width: 100%;
	height: 500px;
	border-radius: 5px;
}

.product-info {
	flex: 1;
	padding: 5px;
}

.product-info h4 {
	font-size: 1.2em;
	color: #EA5F67;
}

.product-info h5 {
	font-size: 1em;
}

.product-info small {
	font-size: .7em;
	color: #DD4F4F;
	text-decoration: line-through;
}

.product-action {
	margin-top: 10px;
}

/* FOOTER PAGE */
.footer {
	display: flex;
	flex-direction: column;
	background: #F9F9F9;
	margin-top: 50px;
}

.footer p {
	text-align: center;
	margin: 25px 0;
}

.footer-pages {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: center;
}

.footer-pages > div {
	flex: 1;
	margin: 20px 20px 10px 20px;
}

.institutional h5 ,
.payment h5 ,
.media-social h5 ,
.newsletter h5 {
	margin: 10px 0;
}

.media-social ul li::after {
	content: '';
	display: block;
	width: 0;
	height: 1px;
	background: var(--linkColor);
	transition: width .3s;
}

.media-social ul li:hover::after {
	width: 27%;
}
.media-social ul li:last-of-type:hover::after {
	width: 21%;
}